td,th{
    border: 1px solid blue;
    padding:  0.2em;
}


.dir .dvvname{
    font-weight:bold ;
}
.file .dvvname{
    font-style:italic ;
}
.link .dvvname{
  color: aqua;  
}
.ta{
    margin: 0.5em 0px;
    padding: 0.5em;
    padding-left: 1.5em;
    border: 1px solid orange;
    border-left-width: 0.5em;
    background-color: #ffc;
    font-size: 0.8em;
}
.error{
    font-weight: bold;
    padding: 0.2em;
    margin: 0.5em 0px;
    border: 1px solid rgb(43, 0, 255);
    background-color: rgb(246, 255, 0);
    line-height: 1.2em;
}
body{
    background-color: rgb(207, 166, 0);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    
}
.brotkruemel{
    background-color: aqua;
}
main{
    display: flex;
    flex-direction: column;
}
.h3text{
background-color: aqua;
display: flex;
flex-wrap: nowrap;
flex-direction: column;
align-items: center;
}
/* body *{
    margin: 0.1em;
    border: 0.1em;
    padding: 0.1em;
} */
nav ul.brotkruemel, nav ul .brotkruemel li {
    margin:0px;
    padding: 0px;
    list-style-type: none;
}
nav ul.brotkruemel li {
display:inline;
margin-right: 0.5em;
margin-left: 0.5em;
}
nav ul.brotkruemel li:first-of-type {
margin-left: 0px;
}
nav ul.brotkruemel li:last-of-type {
margin-right: 0px;
}
nav ul.brotkruemel li:after {
content:" > ";
}
#fsStruktur,#fsUmbenennen{
    display: none;
}
